.html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-image: url("money.png");
  background-repeat: round;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
}

.form__button {
  cursor: pointer;
}

.form__textArea--otherColor {
  cursor:crosshair;
}